.sideBarContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.title {
  color:rgba(0, 0, 0, 0.743)
}

.multiline {
  text-align: center;
  color: rgba(30, 30, 30, 0.36)
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
  border-color: rgb(148, 146, 146);
  border-style: solid;
  height: 30px
}

.tagName {
  margin: 0;
  padding: 0;
}